/*전체 가로 폭 */
.page {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0%;
  left: 15%;
}

/*상단 NEST 로고, LOG-IN 버튼,LOG-IN 정보*/
.roof {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0%;
  left: 0%;
  background: #302D2D;
  overflow: hidden;
}
.roof_wing {
  position: absolute;
  width: 100%;
  height: 4%;
  top: 10%;
  left: 0%;
  background: #5F0FBA;
  overflow: hidden;
}
.roof_wing_log{
  position: absolute;
  width: 13%;
  height: 10%;
  top: 15%;
  left: 87%;
  overflow: hidden;
}
.roof_wing_log legend{

}
.roof_text {
  position: absolute;
  width: 10%;
  height: 60%;
  top: -10%;
  left: 5%;
}
.roof_text a {
  text-decoration: none;
  color: orange;
}
.roof_wing_text {
  position: absolute;
  left: 93%;
  font-size: 100%;
}
.roof_wing_text a {
  text-decoration: none;
  color: #9E9E9E;
}

/*content-> 메뉴, NEST 이미지*/
.menu {
  position: absolute;
  width: 20%;
  height: 60%;
  top: 20%;
  left: 0%;
  overflow: hidden;
}
.menu ul {
  list-style-type: none;
  font-weight: bold;
  font-size: 100%;
}
.menu ul a {
  text-decoration: none;
  color: #5F0FBA;
}
.index {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 15%;
  left: 20%;
  overflow: hidden;
}
.nest_logo {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 25%;
  left: 30%;
}
.nest_logo img {
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
}
.portfolio {
  position: absolute;
  width: 30%;
  height: 10%;
  top: 80%;
  left: 35%;
  background: #302D2D;
  text-align: center;
  color: white;
  overflow: hidden;
}
.title {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 5%;
  left: 0%;
  overflow: hidden;
}
.content {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 40%;
  left: 0%;
  overflow: auto;
}
/*about log-in*/
.login {
  position: absolute;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  overflow: hidden;
}
.login_button {
  position: absolute;
  width: 80%;
  height: 25%;
  top: 0%;
  left: 10%;
  background: #302D2D;
  text-align: center;
  color: white;
  overflow: hidden;
}
.google_button {
  position: absolute;
  width: 38.5%;
  height: 25%;
  top: 30%;
  left: 10%;
  background: white;
  text-align: center;
  color: black;
  outline: 1px auto #D6D6D6;
  overflow: hidden;
}
.facebook_button {
  position: absolute;
  width: 38.5%;
  height: 25%;
  top: 30%;
  left: 51.5%;
  background: white;
  text-align: center;
  color: black;
  outline: 1px auto #D6D6D6;
  overflow: hidden;
}
.joinus_description {
  position: absolute;
  width: 38.5%;
  height: 25%;
  top: 60%;
  left: 10%;
  text-align: center;
  font-size: 10px;
  color: black;
  overflow: hidden;
}
.joinus_button {
  position: absolute;
  width: 38.5%;
  height: 25%;
  top: 60%;
  left: 51.5%;
  background: white;
  text-align: center;
  color: black;
  outline: 1px auto #D6D6D6;
  overflow: hidden;
}

.nest_login {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 5%;
  overflow: hidden;
  border-style:groove; border-color:#D6D6D6;
  border-left: 0px;
  border-right: 0px;
}
.nest_login table {
  position: absolute;
  top: 10%;
  left: 15%;
}
.nest_login_button {
  position:absolute;
  width: 38%;
  height: 100%;
  top: 0%;
  background: #FF870F;
  text-align: center;
  color: white;
  outline: 1px auto #D6D6D6;
  overflow: hidden;
}
/*하단 개발자 소개, 소속*/
.bottom {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 90%;
  background: #302D2D;
  overflow: hidden;
}
.bottom_wing {
  position: absolute;
  width: 100%;
  height: 4%;
  top: 86%;
  background: #5F0FBA;
}
.bottom_text1 {
  position: absolute;
  width: 20%;
  top: 15%;
  left: 5%;
  color: #9E9E9E;
}
.bottom_text2 {
  position: absolute;
  width: 20%;
  top: 15%;
  left: 80%;
  color: white;
}
.bottom_hr {
  position: absolute;
  width: 100%;
  height: -15%;
  top: 81%;
  overflow: hidden;
}
